#container{
    height: 450px;
    display: flex;
    align-items: flex-end;
}

body{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.bar{
    width:10px;
    background-color: #EAEFF2;
    margin: 1px;
    /* transition: transform 0.5s ease-in-out; */
}

.value-text{
    margin-top: 5px;
    position: relative;
    height: 100%+2;
    width: 100%;
    height: max(height,width);
    right: 10px;
    font-size: 20px;
    border-radius: 109px 205px 85px 195px / 82px 91px 74px 63px;

}

.bar-container{
    display: inline-block;
    text-align: center;
    margin: 0 10px;
}

.swap-count{
    margin-left: 50px;
    height:30px;
    width: 120px;
    position: relative;
    bottom: 400px;
    left: 540px;
    font-size: large;
}

.pointer{
    height: 25px;
    width: 10px;
    margin-bottom: 5px;
    position: relative;
    margin-bottom: 4px;
    top: -25px;;
    font-size: 1em;
    font-weight: bold;
}

.description {
    font-size: 0.85em;
    margin-top: 0px;
    font-family: 'Source Code Pro', monospace;
    height: 80px;
    width: 370px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 7px 8px 10px rgba(0,0,0,0.10);
}

.night-mode{
    background-color: #8A8A8A;
    color : #111;
}

.reset{
    height: 10px;
    width: 30px;
    background-color: ;
}